.payment-container {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    padding: 0 var(--px);   
}

.cart-total-container {
    width: 33%;
}

.billing-container {
    width: 33%;
}

.ordered-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ordered-item>img {
    height: 50px;
    width: 50px;
}

.ordered-sum {
    display: flex;
    flex-direction: column;
}

.subtotal, .shipping, .total {
    display: flex;
    justify-content: space-around;
}